# Build products
*.o
*.so
*.bc
/dist
/test_protos/*_descriptor_set.pb
/sql/postgres_protobuf.sql
/expected/postgres_protobuf.out

# For Docker (.dockerignore is linked to .gitignore)
/third_party/protobuf/_build
/third_party/protobuf/_install

# Test results
/regression.out
/regression.diffs
/results
/tmp_check
/tmp_check_iso
/log
/output_iso

# VSCode spammy settings (we commit other VSCode configs)
/.vscode/settings.json

